#htmlmain body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #htmlmain .topnav {
    overflow: hidden;
    background-color: #989E8B;
  }
  
  #htmlmain .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #htmlmain .topnav a:hover {
    background-color: #a5ab52;
    color: black;
  }
  
  #htmlmain .topnav a.active {
    background-color: #4b5320;
    color: white;
  }
  
  #htmlmain  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  } 
    
  #htmlmain .topnav input[type=text] {
      border: 1px solid #ccc;  
    }

      
      #htmlmain .dropdown {
        position: relative;
        display: inline-block;
      }
      
      #htmlmain .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      #htmlmain .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      #htmlmain .dropdown-content a:hover {background-color: #ddd;}
      
      #htmlmain .dropdown:hover .dropdown-content {display: block;}
      
  
  
  
  






  #loancal {
    width: 345px;
    height: 420px;
    background-color:white;
    color: #fff;
    padding: 10px;
    margin: 100px auto;
  }
  
    
  #htmlcalc .input{
    margin-left: 40px;
    margin-right: 40px;
  }
  #htmlcalc p{
  color: rgb(17, 103, 170);
  font-size: 17px;
  }
  #htmlcalc input{
    width: 100%;
    height: 33px;
  }

  #htmlcalc h2{
    text-align: center;
    color: rgb(6, 111, 139);
    margin-top: 35px;
  }

  #htmlcalc h1 {
    font-size:30px;
    text-align: center;
    color: rgb(9, 95, 172);
    margin-bottom: 35px;
  }










#htmllog body {font-family: Arial, Helvetica, sans-serif;}
#htmllog form {border: 3px solid #f1f1f1;}

#htmllog input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#htmllog button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#htmllog button:hover {
  opacity: 0.8;
}

#htmllog cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

#htmllog .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

#htmllog img.avatar {
  width: 40%;
  border-radius: 50%;
}

#htmllog .container {
  padding: 16px;
}

#htmllog span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
#htmllog  span.psw {
     display: block;
     float: none;
  }
 #htmllog .cancelbtn {
     width: 100%;
  }
}










#htmlsign body {font-family: Arial, Helvetica, sans-serif;}
#htmlsign * {box-sizing: border-box;}

/* Full-width input fields */
#htmlsign input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
#htmlsign input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
#htmlsign button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#htmlsign button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
#htmlsign .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#htmlsign .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
#htmlsign .container {
  padding: 16px;
}

/* The Modal (background) */
#htmlsign .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  padding-top: 50px;
}

/* Modal Content/Box */
#htmlsign .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #fefefe;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#htmlsign hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
#htmlsign .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

#htmlsign .close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
#htmlsign .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
   #htmlsign .cancelbtn, .signupbtn {
     width: 100%;
  }
}





#htmlcart .incdec {
  border-radius: 50%;
}

#htmlcart button {

  background-color: #4b5320;
 
}